<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mondaysfunction.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c366a8b8-c639-4c55-a4f6-63304ee5f4b9/resourcegroups/msta/providers/Microsoft.Web/sites/MondaysFunction</ResourceId>
    <UserName>$MondaysFunction</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://mondaysfunction.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>